*{
    margin: 0px;
    padding: 0px;
}
.header div {
    width: 1140px;
    margin:auto;
    background-color: #EEF2F5;
    color: #242424;
    text-align: center;
    padding: 30px 0px;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    
}